body {
    background-color: #eee;
}

#wrapper {
    width: 60em;
    margin: 0 auto;
    border: 1px solid #a7a7a7;
    box-shadow: 3px 3px 2px 0px #eeeeee;
    background-color: white;
}

#no-bookmarks-msg {
    width: 100%;
    border: 1px solid black;
    line-height: 1.4em;
    display: none;
}

#no-bookmarks-msg .title {
    margin-top: 0;
}

#settings-link {
    text-decoration: underline;
    cursor: pointer;
}

#bookmarks {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1em;
}

.flex-item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
}

.bookmark {
    /*min-width: 4em;*/
    /*max-width: 10em;*/
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    padding:0.5em;
    /*box-shadow: inset 0 -2em 2em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),*/
    /*0.3em 0.3em 1em rgba(0, 0, 0, 0.1);*/
    position: relative;
    line-height: 1.2em;
    font-family: monospace;
    font-size: 1.2em;
}

.bookmark.loading,
.bookmark.loading:hover {
    cursor: progress;
    border: 1px solid red;
}

.bookmark:hover {
    /*box-shadow: inset 0 -2em 2em rgba(255, 255, 0, 0.5), 0 0 0 2px rgb(255, 255, 255),*/
    /*0.3em 0.3em 1em rgba(50, 50, 50, 0.3);*/
    cursor: pointer;
    border: 1px solid rgb(0,0, 238);
}

.bookmark:hover .bookmark-link {
    text-decoration: none;
}

.bookmark-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.bookmark-link {
    overflow: hidden;
    display: inline;
    color: rgb(0,0, 238);
    text-decoration: underline;
}

.dialog {
    width: 32em;
}

.dialog .title {
    margin-top: 0;
}

.dialog input[type=text],
.dialog button {
    width: 100%;
}